.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background: #cc0042;
  flex: 200px;
  flex-grow: 1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  transition: background 0.2s;
}

.middle {
  background: #b20039;
}

.box:hover {
  background: #ff0052;
  cursor: pointer;
}

h3 {
  font-size: 20px;
}
